{erl_opts, [debug_info]}.
{deps,[
       {lager, "3.6.10"},
       {jsx, "2.8.0"},
       {recon, "2.3.6"},
       {eredis, {git, "https://github.com/wooga/eredis.git", {tag, "v1.2.0"}}},
       {erlydtl, {git, "https://github.com/erlydtl/erlydtl", {tag, "0.12.1"}}},
       {jsone, { git, "git@github.com:sile/jsone.git", {branch, "master"}}},
       {cowboy, { git, "https://github.com/ninenines/cowboy.git", { tag, "2.6.0" } } },
       {eredis, { git, "https://github.com/wooga/eredis.git", { tag, "v1.2.0" } } },
       {gproc, {git, "git://github.com/uwiger/gproc.git", {tag, "0.8.0"}}}
      ]}.

{relx, [
        {release, {demo_ps, "1"}, [demo_ps],
         [
          {sys_config, "release-files/sys.config"},
          {overlay, [
                     {mkdir, "log"},
                     {mkdir, "init"},
                     {mkdir, "bin"}
                    ]}]},
        {include_src, false},
        {extended_start_script, true}
       ]
}.


{shell, [
    {config, [{config, "release-files/sys.config"}]},
    {apps, [demo_ps]}
]}.
{pre_hooks,
  [
   {"(linux|darwin|solaris|win32)", compile, "bash -c 'make'"},
   {"(linux|darwin|solaris|win32)", clean, "make clean"}
  ]}.
