[
 {demo_ps, [
  {web_port, 3000},
  {connection_string, [{ host, "127.0.0.1" }, { port, 6379 } ]}
 ]},
{lager,
  [ {log_root, "logs"},
    {crash_log, "crash.log"},
    {crash_log_size, 10000000},
    {error_logger_redirect, true},
    {handlers, [
        {lager_console_backend, debug},
        {lager_file_backend, [{file, "error.log"}, {level, error}, {size, 10000000}, {count, 20}]},
        {lager_file_backend, [{file, "console.log"}, {level, debug}, {size, 10000000}, {count, 20}]}
    ]}
  ]}
].

