[
 {demo_ps, [
  {web_port, 3000},
  {connection_string, [{ host, "127.0.0.1" }, { port, 6379 } ]}
 ]},
  {kernel,
   [ {logger_level, debug}
   , {logger, [
               %% Console
               { handler, default, logger_std_h
               , #{ formatter => { logger_formatter
                                 , #{ single_line => true
                                    , time_offset => "Z"
                                    , chars_limit => 32768
                                    , depth => 40
                                    , template => [time," ", level,": ", pid, " ", msg, ": ", misc, "\n"]
                                    }}
                  }
               }
              ]}
  ]}
].

